.home-container {
  padding: 2rem;
  display: grid;
  row-gap: 2rem;
  grid-area: main;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "category"
    "mustwatch";
}

body {
  background-color: var(--page-bg);
}

.home-page-wrapper {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: var(--white-textcolor);
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5.6rem 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main"
    "sidebar main main";
}

.must-watch {
  font-size: 2rem;
  font-weight: 700;
}
