.homepage-chips {
  padding-left: 2rem;
  gap: 1rem;
  font-size: 1.4rem;
  align-items: center;
  display: flex;
  grid-area: chips;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--nav-bg);
}

.catergory-cards {
  display: grid;
  height: max-content;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-area: category;
}

.must-watch {
  grid-area: mustwatch;
}

.card img:hover {
  box-shadow: -5px 5px var(--cards-transition-bg);
  transition: all 0.3s ease;
  transform: translate(5px, -5px);
}

.category-img {
  width: 18rem;
  height: 24rem;
}

.card {
  font-size: 2rem;
  width: 18rem;
  cursor: pointer;
}

.video-card-container {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.25rem, 1fr));
  gap: 3rem;
}

.video-card {
  width: 27.25rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.chips {
  height: 3.2rem;
  min-width: 1.2rem;
  padding: 0 1rem;
  display: flex;
  border-radius: 1.6rem;
  border: 1px solid var(--chips-border);
  align-items: center;
  justify-content: space-around;
  background-color: var(--chips-bg);
  cursor: pointer;
}

.home-container {
  padding: 2rem;
  display: grid;
  row-gap: 2rem;
  grid-area: main;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "category"
    "mustwatch";
}

.video-card-desc {
  padding: 1rem 0;
  align-items: center;
}

.flex1 {
  flex-basis: 97%;
}

.videolisting-cards {
  width: 29rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.videolisting-content {
  font-size: 1.6rem;
  padding-top: 1rem;
  display: flex;
}

.kebab-menu {
  display: flex;
  align-items: center;
}

.modal {
  font-size: 1.6rem;
  position: absolute;
  right: 0rem;
  top: 105%;
  z-index: 2;
  color: white;
  width: 26rem;
  height: max-content;
  background-color: #202020;
}

.modal div {
  background-color: #202020;
  cursor: pointer;
  font-size: 1.6rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
}

.modal div:hover {
  background-color: var(--hover-graybg);
}

.playlist-card {
  position: relative;
  margin-top: 2rem;
  width: 30rem;
  height: 17.2rem;
  background-color: var(--nav-bg);
}

.playlist-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--hover-graybg);
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-card-footer {
  gap: 1rem;
  width: 75%;
  height: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content {
  padding-left: 1rem;
  padding-bottom: 2rem;
  gap: 2rem;
}

.deletePlaylist {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 11%;
  height: 98%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--crimson-red);
}

.videoDescription-container {
  margin-top: 2rem;
  justify-content: space-between;
}

.video-features{
  justify-content: space-between;
  border-bottom: 2px solid var(--hover-graybg);
  padding-bottom: 1rem;
}

.video-functions{
  gap: 2rem !important; 
}

.video-features div{
  gap: 0.5rem;
  align-items: center;
  font-size: 1.6rem;
}

.video-container{
  gap: 1rem;
}

.video-description{
  font-size: 1.6rem;
  max-width: 120rem;
}

.video-creator{
  color: var(--gray-text);
}