* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white-textcolor);
}

html {
  font-size: 62.5%;
}

:root {
  --page-bg: hsl(0deg 0% 9%);
  --nav-bg: #202020;
  --border-color: #343434;
  --hover-graybg: rgb(56 56 56);
  --cards-transition-bg: #5c16c5;
  --chips-bg: #373737;
  --chips-border: #424242;
  --white-textcolor: hsl(0deg 0% 96%);
  --crimson-red: #dc143c;
  --login-purple: #A579E8;
  --modal-bg : #202020
}

.flex_r {
  display: flex;
}

.cursor-pointer{
  cursor: pointer;
}

.flex_c {
  display: flex;
  flex-direction: column;
}
