.side-bar {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 0.6rem;
    grid-area: sidebar;
    background-color: var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .side-bar div {
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    display: flex;
    align-items: center;
    padding: 1.2rem 1rem;
    padding-left: 2rem;
  }
  
  .side-bar div:hover {
    background-color: var(--hover-graybg);
  }