.signup-container {
  grid-area: signup-container;
}

.signup-page-wrapper {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: var(--white-textcolor);
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5.6rem 5.6rem 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav nav nav"
    "sidebar chips chips"
    "sidebar signup-container signup-container"
    "sidebar signup-container signup-container";
}

.signup-container {
  font-size: 1.6rem;
  color: var(--login-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64rem;
  height: 56rem;
  margin: 0 auto;
  background-color: var(--nav-bg);
  border: 1px solid var(--login-purple);
  border-radius: 5px;
}

.signup-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.signup-password,
.signup-cnfPassword {
  position: relative;
}

.signup-pass-icon {
  position: absolute;
  top: 3.4rem;
  right: 1rem;
}

.btn-createAccount {
  margin-top: 1rem;
  color: var(--nav-bg);
  font-size: 1.8rem;
  background-color: var(--login-purple);
  width: 37rem;
  padding: 1rem;
  cursor: pointer;
}

.form-container {
  gap: 2rem;
}

button[disabled=disabled], button:disabled {
  background-color: #ede4fa;
  cursor: not-allowed;
}
