.watchLaterVideos-page-container {
  grid-area: watchLater-videos;
  padding-left: 4rem;
  overflow: scroll;
  overflow-x: hidden;
}

.watchLater{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.watchLaterVideos-page-wrapper {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: var(--white-textcolor);
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5.6rem 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav nav nav"
    "sidebar watchLater-videos watchLater-videos"
    "sidebar watchLater-videos watchLater-videos";
}

.empty-list-msg{
  margin-top: 2rem;
}

.btn-explore{
  padding: 1.5rem 3rem;
  cursor: pointer;
  background-color: var(--login-purple);
}

.center-container{
  gap: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}